.header {
	background-color: #000000;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	z-index: 999;
}

.header--inner {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.header--logo {
	position: relative;
	left: -55px;
}

.header--navigation > a {
	color: #ffffff;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
}

.header--navigation > a:not(:last-child) {
	margin: 0 24px 0 0;
}
